/**
TABLE OF CONTETS

- root
- document
- nav bar
- links
- fonts
- images
- main splash
- section card
- footer
- tooltip
- responsive
- burger menu
- general

**/

/* root */
:root {
  --main-green: rgb(0, 184, 28);
}

/* document */
body {
  /*
  margin: 60px auto;
  width: 80%;
  background-image: url('/assets/seigaiha.png');
  */
  /* now aiming for a modern, single page look */
  margin: auto;
  font-family:'Quicksand', sans-serif;
  max-width: 1200px;
}
.container {
  /*
  border-radius: 5px;
  border-color: #6a6a6a;
  border-width: 5px;
  */
  background-color: rgb(255, 255, 255); /* fallback for older browsers */
  background-color: rgba(255, 255, 255, 0.9);
  /* padding: 0 10px; */
}

/* nav bar */
#topnav {
  width: 90%;
  overflow: hidden;
  width: 100%;
  /* z-index: 1000000; */
  top: 0;
  position: fixed;
  height: 80px;
  background: white;
  border-bottom: gray 1px solid;
}

#topnav-buffer {
  height: 80px;
}

#topnav a, footer a {
  display: inline-block;
  text-align: center;
  text-decoration: none;
}

#topnav #section-links {
  float: right;
}

#topnav #section-links a {
  display: inline-block;
  padding: 15px 20px 15px 20px;
}

footer a {
  padding: 15px 10px 15px 10px;
}

nav, footer ul {
  font-family:'Quicksand', sans-serif;
  padding: 10px;
  list-style: none;
  font-weight: bold;
}


/* #home is the logo */
#home {
  float: left;
  padding: 0 0;
}

nav ul .index a {
  color: #0C6291;
  border-bottom: #0C6291 2px solid;
}

/* links */
nav a:hover {
  /* border-bottom: rgb(63, 136, 74) 2px solid; */
  color: var(--main-green);
}
a {
  text-decoration: none;
  /* color: #999; */
  color: rgb(63, 136, 74);
  /* -webkit-transition: color 0.5s; */
  /* transition: color 0.5s; */
}
a:hover {
  /* color: #35913b; */
  color: var(--main-green);
}

/* fonts */
h1 {
  font-size: 3em;
  margin: 0px 0px;
  font-family: 'Dancing Script', cursive;
}
h2 {
  font-size: 1.7em;
  line-height: 1.6em;
  margin: 0px 0px;
  color: #333;
}
p {
  font-size: 1.3em;
  line-height: 1.3em;
  margin: 10px 0px;
  color: #333;
}
.small {
  font-size: 1em;
}
.x-small {
  font-size: 0.7em;
}

/* hacks all font-sizes */
body {
  font-size: 1.1em;
}

/* images */
img.photo {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  max-width: 100%;
  height: auto;
}

img.limit-width {
  max-width: 100%;
  height: auto;
}

/* main splash */
#main-splash {
  height: 500px;
  background:
    linear-gradient(
      rgba(0, 128, 19, 0.45), 
      rgba(0, 72, 255, 0.45)
    ),
    url('/assets/seigaiha.png');
  text-align: center;
  padding-top: 150px;
  font-size: 1.25em;
  color: white;
}

#main-splash p {
  color: white;
}

/* section card */
.section-card {
  text-align: center;
  font-size: 0.8em;
  padding: 10px;
}

.section-card h2 {
  border-bottom: #0C6291 2px solid;
  font-size: 2em;
}

/* footer */
footer {
  border-top: 1px solid #d5d5d5;
  font-size: .8em;
}

/* tooltip borrowed from w3schools tooltip :3 */
.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  opacity: 0;
  background-color: #222;
  font-size: 0.9em;
  line-height: 0.9em;
  color: #fff;
  text-align: center;
  font-size: 1em;
  padding: 5px 0;
  border-radius: 6px;
  /* position on top */
  width: 120px;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}
/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

/* Responsive elements */
* {
  box-sizing: border-box;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}
[class*="col-"] {
    float: left;
    padding: 10px;
}

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}
@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}
    /* body {width: 580px} */
}
@media only screen and (min-width: 768px) {
    /* For desktop: */
    /* body {width: 70%;} */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
    /* body {width: 90%} */
}

/* visible / hide with screen size */
@media only screen and (min-width: 600px) {
  .only-visible-sm {display: none; visibility: none;}
  .bm-burger-button {display: none; visibility: none;}
  .not-visible-sm {visibility: initial;}
}

@media only screen and (max-width: 599px) {
  .only-visible-sm {visibility: initial;}
  .bm-burger-button {visibility: initial;}
  .not-visible-sm {display: none; visibility: none;}
}

/* Burger styles */
/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  right: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #999;;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.burger-menu-item {
  display: block;
}

/* General */
.connect-vertical {
  padding: 0px 10px;
  margin: 0px 0px;
}
