---
layout: default
title: Kevin Chien - Projects
id: projects
---
<div class="row">
{% for project in site.data.projects %}
  <div class="col-8">
    <h2>
      {{ project.name }}
    </h2>

    <p class="small">
      {% if project.link %}
        <a href="{{ project.link }}">Check it Out</a>
      {% endif %}

      {% if project.source %}
        <span> | </span><a href="{{ project.source }}">View Source</a>
      {% endif %}
    </p>

    <p class="small">
      {{ project.desc }}
    </p>
  </div>
  <div class="col-4">
    {% if project.image %}
      <img class="limit-width" src="/assets/{{ project.image }}">
    {% endif %}
  </div>
{% endfor %}
</div>
