---
layout: default
title: Kevin Chien - Home
id: home
---

<div id="main-splash" id="home">
	<h1>Kevin Chien</h1>
	<!--<p>I'm a sophomore at UC Berkeley majoring in EECS.</p>-->
	<!--<p><strong></strong></p>-->

	<p class="subtitle">Developer. Musician. Christian.</p>
</div>

<div class="row section-card" id="about">
	<div><!--<div class="col-7 col-m-7">-->
	<div class="section-card-title-holder">About Me</div>
		<p>
		Hi, I'm Kevin. I'm a student at UC Berkeley studying Electrical Engineering and Computer Sciences.
		I love to build things: to see a collection of some of the things I've worked on, check out some of my <a class="projects-link">projects</a>.
		In my spare time, I regularly seek to give praise to God with the family I've found in <a href="http://klesis.net">Klesis Christian Fellowship</a>.</p>
	</div>
	<!--
	<div class="col-5 col-m-5">
			<img class="photo" src="/assets/headshot.png" alt "Picture of Me">
	</div>
	-->
</div>


<div class="row section-card" id="projects">
	<div class="section-card-title-holder">Projects</div>
	<!--
	<div class="col-5 col-m-5">
			<img class="photo" src="/assets/headshot.png" alt "Picture of Me">
	</div>
	-->

	<div class="row">
	{% for project in site.data.projects %}
		<div class="col-8">
			<h2>
				{{ project.name }}
			</h2>

			<p>
				{% if project.link %}
					<a href="{{ project.link }}">Check it Out</a>
				{% endif %}

				{% if project.source %}
					<span> | </span><a href="{{ project.source }}">View Source</a>
				{% endif %}
			</p>

			<p>
				{{ project.desc }}
			</p>
		</div>
		<div class="col-4">
			{% if project.image %}
				<img class="limit-width {% if project.shadow %} shadow {% endif %}" src="/assets/{{ project.image }}">
			{% endif %}
		</div>
	{% endfor %}
	</div>

</div>

<!--
{% for semester in site.data.semesters %}
	<div>
		<h2>{{ semester.semester }}</h2>
		<div class="row">
			<div class="col-6">
				<h3>Courses</h3>
				{% for class in semester.classes %}
				<p class="small">
					{{ class }}
				</p>
				{% endfor %}
			</div>
			<div class="col-6">
				<h3>Involvements</h3>
				{% for thing in semester.involvements %}
				<p class="small">
					{{ thing }}
				</p>
				{% endfor %}
			</div>
		</div>
	</div>
{% endfor %}
-->
