<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<link href="https://fonts.googleapis.com/css?family=Lora|Dancing+Script" rel="stylesheet">
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
		        <li><a href="/kevin_chien_resume.pdf">Resume</a></li>
    		</ul>
		</nav>
		<div class="container">

    {{ content }}

    </div><!-- /.container -->
    <footer>
        <ul>
            <li><a href="mailto:kevinchien17@gmail.com">email</a></li>
            <li><a href="https://github.com/kev-chien">github</a></li>
						<li><a href="https://www.linkedin.com/in/kevinchien17">LinkedIn</a></li>
      </ul>
    </footer>
  </body>
  <!-- for mobile responsiveness -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</html>
